{% extends "layout.html" %} {% block content %}
<link rel="stylesheet" type="text/css" href="/static/css/about.css" />
<div class="container">
  <h1>AII BY-NC License</h1>
  <hr class="line" />
  <div id="item2">
    <div style="margin-left: 10px">
      <h4>Other Licenses:</h4>
      <ul class="menu">
        <li class="menu-item">
          <a href="/licenses/permitted-for-training">Permitted For Training</a>
        </li>
        <li class="menu-item">
          <a href="/licenses/by">BY</a>
        </li>
        <li class="menu-item">
          <a href="/licenses/nc">NC</a>
        </li>
        <li class="menu-item">
          <a href="/licenses/ng">NG</a>
        </li>
        <li class="menu-item">
          <a href="/licenses/by-ng">BY-NG</a>
        </li>
        <li class="menu-item">
          <a href="/licenses/nc-ng">NC-NG</a>
        </li>
        <li class="menu-item">
          <a href="/licenses/by-nc-ng">BY-NC-NG</a>
        </li>
        <li class="menu-item">
          <a href="/licenses/do-not-train">Do Not Train</a>
        </li>
      </ul>
      <hr class="line" />
    </div>
  </div>
  <div class="mt-3 grid-container">
    <div id="item1">
      <p>
        The "BY-NC" (Attribution, Non-Commercial) license is a combination of
        the "BY" and "NC" licenses. Under this license, the use of the licensed
        material for artificial intelligence purposes of any kind is permitted
        under the conditions that the author is publicly acknowledged for the
        use of his work and that the intermediate or end products are not used
        for commercial purposes.
      </p>
      <p>
        The BY condition can be used by copyright holders if they wish to be
        credited for the use of their work. The licensee may provide attribution
        in a variety of ways, but must include a credit as specified by the
        copyright holder. Attribution can be made, for example, through an entry
        in an online database or on a publicly accessible platform.
      </p>
      <p>
        The NC condition can be selected by authors if they wish to authorise
        the use of their works exclusively for AI purposes without commercial
        intentions. In the context of this license, all uses in which
        intermediate or end products are intended to generate commercial
        benefits or financial compensation are considered commercial.
      </p>
      <hr class="line" />
      <h3>License Text</h3>
      <pre>
                      AII ATTRIBUTION NON-COMMERCIAL LICENSE                         
                            Version 1, 19 March 2024
            
          By using the licensed work for Artificial Intelligence Purposes 
        (defined below), You accept and agree to be bound by the terms and 
        conditions of this AI Image Attribution Non-commercial License. You are 
        granted the right to use the Licensed Material for Artificial Intelligence 
        Purposes in consideration of your acceptance and subject to your compliance
        of these terms and conditions defined in this License.
            
                               TERMS AND CONDITIONS
                                   
                                   DEFINITIONS

          "This License" refers to version 1 of the AII Attribution Non-commercial
        License.
                            
          "Licensor" means the rights holder who has licensed one or more 
        works under these terms and conditions.

          "Licensed Material" means the copyright-protected artistic or literary 
        work to which the Licensor applied this License.

          "Artificial Intelligence Purposes" include the use of the Licensed 
        Material for the training of artificial intelligence models and the 
        creation of reproductions or derivative works required for these purposes.

          "Licensee" means the individual or entity using the Licensed Material
        for Artificial Intelligence Purposes.
            
                                     SCOPE

          Subject to the terms and conditions of this License, the Licensor 
        grants the Licensee a worldwide, royalty-free, non-sublicensable, 
        non-exclusive, irrevocable license to use the Licensed Material for
        Artificial Intelligence Purposes.

          The rights granted under this License may not be claimed for uses 
        other than Artificial Intelligence Purposes.

          The license terms defined in this License apply exclusively for Artificial 
        Intelligence Purposes.

                                  CONDITIONS
           
          The exercise of the licensed rights is subject to the following 
        conditions:

          A. Attribution:

            1. The Licensee must retain the following information if it is provided 
            by the Licensor with the Licensed Material:

              a. Identification of the author(s) of the Licensed Material and any 
              other person to whom attribution should be given

              b. Contact information in the form of an e-mail address or website

              c. A notice that the Licensed Material is licensed under this License 
              and the license text of this License or the URI or hyperlink to this License

              d. A URI or hyperlink that links directly to the Licensed Material

            2. The Licensee must display this information on a publicly accessible 
            platform.

          B. Non-commercial:

            1. The Licensee may use the Licensed Material solely for Artificial 
            Intelligence Purposes that have no commercial intent.

            2. All uses in which intermediate or final products are intended to 
            generate commercial benefits or financial compensation are considered 
            commercial.

                                TERMINATION

          This License is valid for the duration of the copyrights and similar other 
        rights licensed here. If the Licensee fails to comply with the terms of this 
        License, all rights granted under this License terminate.
                                
          If the rights to use the Licensed Material have been terminated, they will
        be reinstated if:
  
            1. the violation is corrected within 30 days of discovery; or
  
            2. the Licensor explicitly permits the reinstatement of the license.
              
          The use of this License does not prevent the Licensor from taking legal action 
        against the Licensee in the event of an infringement at his own discretion.
    </pre
      >
    </div>
    <div id="item3">
      <div style="margin-left: 10px">
        <h4>Other Licenses:</h4>
        <ul class="menu">
          <li class="menu-item">
            <a href="/licenses/permitted-for-training"
              >Permitted For Training</a
            >
          </li>
          <li class="menu-item">
            <a href="/licenses/by">BY</a>
          </li>
          <li class="menu-item">
            <a href="/licenses/nc">NC</a>
          </li>
          <li class="menu-item">
            <a href="/licenses/ng">NG</a>
          </li>
          <li class="menu-item">
            <a href="/licenses/by-ng">BY-NG</a>
          </li>
          <li class="menu-item">
            <a href="/licenses/nc-ng">NC-NG</a>
          </li>
          <li class="menu-item">
            <a href="/licenses/by-nc-ng">BY-NC-NG</a>
          </li>
          <li class="menu-item">
            <a href="/licenses/do-not-train">Do Not Train</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
