{% extends "layout.html" %} {% block content %}
<link rel="stylesheet" type="text/css" href="/static/css/about.css" />
<div class="container">
  <h1>AII Do Not Train Notice</h1>
  <hr class="line" />
  <div id="item2">
    <div style="margin-left: 10px">
      <h4>Other Licenses:</h4>
      <ul class="menu">
        <li class="menu-item">
          <a href="/licenses/permitted-for-training">Permitted For Training</a>
        </li>
        <li class="menu-item">
          <a href="/licenses/by">BY</a>
        </li>
        <li class="menu-item">
          <a href="/licenses/nc">NC</a>
        </li>
        <li class="menu-item">
          <a href="/licenses/ng">NG</a>
        </li>
        <li class="menu-item">
          <a href="/licenses/by-nc">BY-NC</a>
        </li>
        <li class="menu-item">
          <a href="/licenses/by-ng">BY-NG</a>
        </li>
        <li class="menu-item">
          <a href="/licenses/nc-ng">NC-NG</a>
        </li>
        <li class="menu-item">
          <a href="/licenses/by-nc-ng">BY-NC-NG</a>
        </li>
      </ul>
      <hr class="line" />
    </div>
  </div>
  <div class="mt-3 grid-container">
    <div id="item1">
      <p>
        The "Do Not Train" notice prohibits any use of the marked material for
        artificial intelligence purposes. It is a reservation of use that
        applies regardless of commercial intentions or the type of model.
      </p>
      <p>
        By including this notice in the metadata of your images, you signal that
        you strictly prohibit the use of your image for artificial intelligence
        training. According to current legislation, you are required to opt-out
        of AI training, otherwise your images may be used even without your
        permission.
      </p>
      <p>
        The Do Not Train notice only applies to artificial intelligence purposes
        and does not affect other uses. This license is valid for the duration
        of the copyrights and other related rights.
      </p>
    </div>
    <div id="item3">
      <div style="margin-left: 10px">
        <h4>Other Licenses:</h4>
        <ul class="menu">
          <li class="menu-item">
            <a href="/licenses/permitted-for-training"
              >Permitted For Training</a
            >
          </li>
          <li class="menu-item">
            <a href="/licenses/by">BY</a>
          </li>
          <li class="menu-item">
            <a href="/licenses/nc">NC</a>
          </li>
          <li class="menu-item">
            <a href="/licenses/ng">NG</a>
          </li>
          <li class="menu-item">
            <a href="/licenses/by-nc">BY-NC</a>
          </li>
          <li class="menu-item">
            <a href="/licenses/by-ng">BY-NG</a>
          </li>
          <li class="menu-item">
            <a href="/licenses/nc-ng">NC-NG</a>
          </li>
          <li class="menu-item">
            <a href="/licenses/by-nc-ng">BY-NC-NG</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
