{% extends "layout.html" %} {% block content %}
<link rel="stylesheet" type="text/css" href="/static/css/about.css" />
<div class="container">
  <h1>AII Permitted For Training License</h1>
  <hr class="line" />
  <div id="item2">
    <div style="margin-left: 10px">
      <h4>Other Licenses:</h4>
      <ul class="menu">
        <li class="menu-item">
          <a href="/licenses/by">BY</a>
        </li>
        <li class="menu-item">
          <a href="/licenses/nc">NC</a>
        </li>
        <li class="menu-item">
          <a href="/licenses/ng">NG</a>
        </li>
        <li class="menu-item">
          <a href="/licenses/by-nc">BY-NC</a>
        </li>
        <li class="menu-item">
          <a href="/licenses/by-ng">BY-NG</a>
        </li>
        <li class="menu-item">
          <a href="/licenses/nc-ng">NC-NG</a>
        </li>
        <li class="menu-item">
          <a href="/licenses/by-nc-ng">BY-NC-NG</a>
        </li>
        <li class="menu-item">
          <a href="/licenses/do-not-train">Do Not Train</a>
        </li>
      </ul>
      <hr class="line" />
    </div>
  </div>
  <div class="mt-3 grid-container">
    <div id="item1">
      <p>
        The "Permitted For Training" license permits the use of the licensed
        material for artificial intelligence purposes of any kind without
        restrictions.
      </p>
      <p>
        The Permitted For Training license can be chosen by creators who wish to
        indicate that their work may be used for AI training. The purpose of
        this license is to help AI developers to find training data that has
        been explicitly released for AI purposes and for which there will
        therefore be no problems in the future due to a lack of reservation of
        use.
      </p>
      <p>
        The Permitted For Training license only applies to artificial
        intelligence purposes and does not affect any other uses.
      </p>
      <hr class="line" />
      <h3>License Text</h3>
      <pre>
                       AII PERMITTED FOR TRAINING LICENSE                         
                            Version 1, 19 March 2024
            
          By using the licensed work for Artificial Intelligence Purposes 
        (defined below), You accept and agree to be bound by the terms and 
        conditions of this AI Image Permitted For Training License. You are 
        granted the right to use the Licensed Material for Artificial Intelligence 
        Purposes in consideration of your acceptance and subject to your compliance 
        of these terms defined in this License.
            
                                    TERMS 
                                   
                                 DEFINITIONS

          "This License" refers to version 1 of the AII Permitted For Training License.
                            
          "Licensor" means the rights holder who has licensed one or more 
        works under these terms and conditions.

          "Licensed Material" means the copyright-protected artistic or literary 
        work to which the Licensor applied this License.

          "Artificial Intelligence Purposes" include the use of the Licensed 
        Material for the training of artificial intelligence models and the 
        creation of reproductions or derivative works required for these purposes.

          "Licensee" means the individual or entity using the Licensed Material
        for Artificial Intelligence Purposes.
            
                                     SCOPE

          Subject to the terms and conditions of this License, the Licensor 
        grants the Licensee a worldwide, royalty-free, non-sublicensable, 
        non-exclusive, irrevocable license to use the Licensed Material for
        Artificial Intelligence Purposes.

          The rights granted under this License may not be claimed for uses 
        other than Artificial Intelligence Purposes.

          The license terms defined in this License apply exclusively for Artificial 
        Intelligence Purposes.

                                  TERMINATION

          This License is valid for the duration of the copyrights and similar other 
        rights licensed here. If the Licensee fails to comply with the terms of this 
        License, all rights granted under this License terminate.
                              
          If the rights to use the Licensed Material have been terminated, they will
        be reinstated if:

            1. the violation is corrected within 30 days of discovery; or

            2. the Licensor explicitly permits the reinstatement of the license.
            
          The use of this License does not prevent the Licensor from taking legal action 
        against the Licensee in the event of an infringement at his own discretion.
    </pre
      >
    </div>
    <div id="item3">
      <div style="margin-left: 10px">
        <h4>Other Licenses:</h4>
        <ul class="menu">
          <li class="menu-item">
            <a href="/licenses/by">BY</a>
          </li>
          <li class="menu-item">
            <a href="/licenses/nc">NC</a>
          </li>
          <li class="menu-item">
            <a href="/licenses/ng">NG</a>
          </li>
          <li class="menu-item">
            <a href="/licenses/by-nc">BY-NC</a>
          </li>
          <li class="menu-item">
            <a href="/licenses/by-ng">BY-NG</a>
          </li>
          <li class="menu-item">
            <a href="/licenses/nc-ng">NC-NG</a>
          </li>
          <li class="menu-item">
            <a href="/licenses/by-nc-ng">BY-NC-NG</a>
          </li>
          <li class="menu-item">
            <a href="/licenses/do-not-train">Do Not Train</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
