.input-text {
  margin: 30px 0;
  display: flex;
  gap: 20px;
}

.input-text .input-div {
  width: 100%;
  position: relative;
}

.text {
  margin-top: 20px;
}

.text p {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 700;
  color: #708d79;
}

input[type="submit"] {
  height: 40px;
  width: 100px;
  border: none;
  border-radius: 5px;
  background-color: #00b1aa;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}

input[type="submit"]:hover {
  border: 1px solid #017571;
  background-color: #017571;
  color: #ffffff;
  padding: 5px 10px;
}

input[type="submit"]:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

label {
  font-size: large;
  color: black;
}
