{% extends "layout.html" %} {% block content %}
<link rel="stylesheet" type="text/css" href="/static/css/software.css" />
<div class="container">
  <h1>Software Download</h1>
  <hr class="line" />
  <div class="mt-3 grid-container">
    <div id="item1">
      <p>
        To use our licensing service offline, you can download one of our
        software applications. The application does not require an installation.
        You can download the zip folder, unzip it and use the executable you
        find inside. The executable only works from within the folder, but you
        can create a shortcut if necessary. <br />
        On <b>Linux</b> and <b>macOS</b>, you may need to execute a few
        additional commands for the application to work. If you cannot run the
        application or it displays an error, follow the instructions in the
        corresponding section.
        <br />
        If you encounter any further problems, please contact us at
        <b>aiimagelicense@gmail.com</b>.
      </p>
      <h2>Windows</h2>
      {% if not mobile %}
      <div class="download">
        <p>
          <b>
            Download Windows application:
            <a href="javascript:void(0);" id="download_Windows">
              AII_Licensing_Windows.zip
            </a>
            {% if windows_size %} ({{ windows_size }} MB) {% endif %}
          </b>
        </p>
      </div>
      {% endif %} {% if mobile %}
      <p class="mobile">Download is not available on mobile devices.</p>
      {% endif %}
      <hr class="line" />
      <h2>Linux</h2>
      <p>
        You may need to run an additional command to declare the provided
        ExifTool application as an executable. Open a terminal, and navigate to
        the folder where the application is located, and run the following
        command:<br />
        <b>chmod +x AII_Licensing_Linux/ExifTool/Perl_ExifTool/exiftool</b>
      </p>
      {% if not mobile %}
      <div class="download">
        <p>
          <b
            >Download Linux application:
            <a href="javascript:void(0);" id="download_Linux">
              AII_Licensing_Linux.zip
            </a>
            {% if linux_size %} ({{ linux_size }} MB) {% endif %}
          </b>
        </p>
      </div>
      {% endif %} {% if mobile %}
      <p class="mobile">Download is not available on mobile devices.</p>
      {% endif %}
      <hr class="line" />
      <h2>macOS</h2>
      <p>
        You may need to run an additional command to prevent your system from
        mistakenly identifying the application as a virus. Open a terminal, and
        navigate to the folder where the application is located, and run the
        following command:<br />
        <b>-d com.apple.quarantine Linux_macOS.app</b>
      </p>
      <p>
        You may need to run an additional command to declare the provided
        ExifTool application as an executable. Open a terminal, and navigate to
        the folder where the application is located, and run the following
        command:<br />
        <b
          >chmod +x
          Linux_macOS.app/Contents/MacOS/ExifTool/Perl_ExifTool/exiftool</b
        >
      </p>
      {% if not mobile %}
      <div class="download">
        <p>
          <b>
            Download macOS application:
            <a href="javascript:void(0);" id="download_macOS">
              AII_Licensing_macOS.zip
            </a>
            {% if macOS_size %} ({{ macOS_size }} MB) {% endif %}
          </b>
        </p>
      </div>
      {% endif %} {% if mobile %}
      <p class="mobile">Download is not available on mobile devices.</p>
      {% endif %}
    </div>
    <form id="downloadForm" action="/download_software" method="get">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      <input type="hidden" />
    </form>
  </div>
  <div id="item3"></div>
</div>
<script
  language="JavaScript"
  type="text/javascript"
  src="../static/js/software.js"
></script>
{% endblock %}
