%Image::ExifTool::UserDefined = (
    'Image::ExifTool::XMP::Main' => {
        AIContact => { 
            SubDirectory => {
                TagTable => 'Image::ExifTool::UserDefined::AIContact',
            },
        },
        AILicense => { 
            SubDirectory => {
                TagTable => 'Image::ExifTool::UserDefined::AILicense',
            },
        },
    },
);

%Image::ExifTool::UserDefined::AIContact = (
    GROUPS => { 0 => 'XMP', 1 => 'XMP-AIContact', 2 => 'Image' },
    NAMESPACE => { 'AIContact' => 'http://aiimagelicense.com/AIContact/1.0/' },
    WRITABLE => 'string', 
    LicensorName => { Groups => { 2 => 'Author' } },
    LicensorEmail => { Writable => 'lang-alt' },
    LicensorURL => { Writable => 'lang-alt' },
    UserDefinedData => { Writable => 'lang-alt' },
);

%Image::ExifTool::UserDefined::AILicense = (
    GROUPS => { 0 => 'XMP', 1 => 'XMP-AILicense', 2 => 'Image' },
    NAMESPACE => { 'AILicense' => 'http://aiimagelicense.com/AILicense/1.0/' },
    WRITABLE => 'string',
    LicensingDate => { Writable => 'date' },
    License => { Writable => 'lang-alt' },
    LicenseURL => { Writable => 'lang-alt' },
    LicenseCondition => { Writable => 'lang-alt' },
);